<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <h1> Contact </h1>
        Address: Tân Phú,Hồ Chí Minh,Việt Nam<br/>
        Website: pizza4ps.com<br/>
		Tel: +84 120 460 4444<br/>
    </div>
    <div class="col-sm-8">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d68154.83068931566!2d106.67181232066798!3d10.758954167967998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x5f1b89599086065d!2sPizza+4P&#39;s!5e0!3m2!1svi!2s!4v1457885842197" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>